<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Beat the Billionaire{% endblock %}</title>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Mobile Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- NAVBAR -->
    <nav>
        <h2>Beat the Billionaire</h2>

        <div>
            {% if session.user_id %}
                <a href="/">Home</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </div>
    </nav>

    <!-- PAGE CONTENT -->
    <main>
        {% block main %}{% endblock %}
    </main>

</body>
</html>

